# Competencia en Kaggle: Titanic: Machine Learning from Disaster

# 1. Crea una cuenta en Kaggle https://www.kaggle.com/

# 2. Ejecuta las celdas

In [21]:
import pandas as pd

train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')
validate = pd.read_csv('gender_submission.csv')

# Drop features-... is this good?

In [22]:
train = train.drop(['Name','SibSp','Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],axis=1)
test = test.drop(['Name','SibSp','Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],axis=1)

train.head(10)

   PassengerId  Survived  Pclass     Sex   Age
0            1         0       3    male  22.0
1            2         1       1  female  38.0
2            3         1       3  female  26.0
3            4         1       1  female  35.0
4            5         0       3    male  35.0
5            6         0       3    male   NaN
6            7         0       1    male  54.0
7            8         0       3    male   2.0
8            9         1       3  female  27.0
9           10         1       2  female  14.0

# Sex mapping 1 - male, 0 - female

In [23]:
train['Sex_binary']=train['Sex'].map({'male':1,'female':0})
test['Sex_binary']=test['Sex'].map({'male':1,'female':0})

# Age cleaning

In [24]:
train['Age'] = train['Age'].fillna(0)
test['Age'] = test['Age'].fillna(0)

In [25]:
features = ['Pclass','Age','Sex_binary']
target = 'Survived'

In [26]:
train[features].head(3)

   Pclass   Age  Sex_binary
0       3  22.0           1
1       1  38.0           0
2       3  26.0           0

In [27]:
import numpy as np

In [28]:
X_train = np.array(train[features])
X_train

array([[ 3., 22.,  1.],
       [ 1., 38.,  0.],
       [ 3., 26.,  0.],
       ...,
       [ 3.,  0.,  0.],
       [ 1., 26.,  1.],
       [ 3., 32.,  1.]])

In [29]:
y_train = np.array(train[target])
y_train = y_train.reshape(-1,1)

In [30]:
# Import keras modules
from keras.models import Sequential
from keras.layers import Dense
from keras.initializers import glorot_normal

In [31]:
model = Sequential()
model.add(Dense(1, input_dim=3, activation='relu', kernel_initializer="uniform"))
model.add(Dense(1, activation='sigmoid', kernel_initializer="uniform"))
model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [32]:
model.fit(X_train, y_train, epochs=1, batch_size=10)

Epoch 1/1
891/891 [==============================] - 1s 639us/step - loss: 0.6802 - acc: 0.6162

In [33]:
X_test = np.array(test[features])
X_test

array([[ 3. , 34.5,  1. ],
       [ 3. , 47. ,  0. ],
       [ 2. , 62. ,  1. ],
       ...,
       [ 3. , 38.5,  1. ],
       [ 3. ,  0. ,  1. ],
       [ 3. ,  0. ,  1. ]])

In [34]:
predicciones = model.predict(X_test)
#print(predicciones)

In [35]:
predicciones = predicciones.tolist()

In [36]:
pre = pd.Series(predicciones)
validate['prediccion'] = pre
validate['prediccion'] = validate['prediccion'].str.get(0)
validate

     PassengerId  Survived  prediccion
0            892         0    0.425473
1            893         1    0.407243
2            894         0    0.385055
3            895         0    0.437263
4            896         1    0.446420
5            897         0    0.457861
6            898         1    0.433786
7            899         0    0.440922
8            900         1    0.452764
9            901         0    0.446747
10           902         0    0.480203
11           903         0    0.411649
12           904         1    0.449013
13           905         0    0.383538
14           906         1    0.411328
15           907         1    0.445340
16           908         0    0.426755
17           909         0    0.446747
18           910         1    0.438515
19           911         1    0.410341
20           912         0    0.397753
21           913         0    0.465825
22           914         1    0.485692
23           915         0    0.450927
24           916         1    0.409777
25           917         0    0.401388
26           918         1    0.450600
27           919         0    0.444372
28           920         0    0.419431
29           921         0    0.480203
..           ...       ...         ...
388         1280         0    0.446747
389         1281         0    0.470613
390         1282         0    0.447756
391         1283         1    0.405135
392         1284         0    0.459452
393         1285         0    0.408055
394         1286         0    0.434112
395         1287         1    0.456954
396         1288         0    0.442000
397         1289         1    0.409777
398         1290         0    0.445164
399         1291         0    0.430965
400         1292         1    0.437941
401         1293         0    0.422058
402         1294         1    0.450600
403         1295         0    0.457282
404         1296         0    0.416313
405         1297         0    0.450422
406         1298         0    0.445667
407         1299         0    0.405454
408         1300         1    0.481472
409         1301         1    0.476674
410         1302         1    0.481472
411         1303         1    0.426930
412         1304         1    0.436937
413         1305         0    0.480203
414         1306         1    0.423797
415         1307         0    0.419219
416         1308         0    0.480203
417         1309         0    0.480203

[418 rows x 3 columns]

In [37]:
coincidencias = []
for dato in validate.prediccion:
    if dato >= 0.5:
        coincidencias.append(1)
    else:
        coincidencias.append(0)
validate['final'] = coincidencias
validate

     PassengerId  Survived  prediccion  final
0            892         0    0.425473      0
1            893         1    0.407243      0
2            894         0    0.385055      0
3            895         0    0.437263      0
4            896         1    0.446420      0
5            897         0    0.457861      0
6            898         1    0.433786      0
7            899         0    0.440922      0
8            900         1    0.452764      0
9            901         0    0.446747      0
10           902         0    0.480203      0
11           903         0    0.411649      0
12           904         1    0.449013      0
13           905         0    0.383538      0
14           906         1    0.411328      0
15           907         1    0.445340      0
16           908         0    0.426755      0
17           909         0    0.446747      0
18           910         1    0.438515      0
19           911         1    0.410341      0
20           912         0    0.397753      0
21           913         0    0.465825      0
22           914         1    0.485692      0
23           915         0    0.450927      0
24           916         1    0.409777      0
25           917         0    0.401388      0
26           918         1    0.450600      0
27           919         0    0.444372      0
28           920         0    0.419431      0
29           921         0    0.480203      0
..           ...       ...         ...    ...
388         1280         0    0.446747      0
389         1281         0    0.470613      0
390         1282         0    0.447756      0
391         1283         1    0.405135      0
392         1284         0    0.459452      0
393         1285         0    0.408055      0
394         1286         0    0.434112      0
395         1287         1    0.456954      0
396         1288         0    0.442000      0
397         1289         1    0.409777      0
398         1290         0    0.445164      0
399         1291         0    0.430965      0
400         1292         1    0.437941      0
401         1293         0    0.422058      0
402         1294         1    0.450600      0
403         1295         0    0.457282      0
404         1296         0    0.416313      0
405         1297         0    0.450422      0
406         1298         0    0.445667      0
407         1299         0    0.405454      0
408         1300         1    0.481472      0
409         1301         1    0.476674      0
410         1302         1    0.481472      0
411         1303         1    0.426930      0
412         1304         1    0.436937      0
413         1305         0    0.480203      0
414         1306         1    0.423797      0
415         1307         0    0.419219      0
416         1308         0    0.480203      0
417         1309         0    0.480203      0

[418 rows x 4 columns]

In [38]:
coincide = 0
coincide = sum(validate['Survived'] == validate['final'])
print(coincide/ len(validate))


match = 0
nomatch = 0
for val in validate.values:
    if val[1] == val[3]:
        match = match +1
    else:
        nomatch = nomatch +1
print(match/len(validate))

0
0

In [39]:
toKaggle = pd.DataFrame({'PassengerId':validate['PassengerId'],
                         'Survived':validate['final']})

toKaggle.head()

   PassengerId  Survived
0          892         0
1          893         0
2          894         0
3          895         0
4          896         0

# output file with your prediction

In [40]:
from datetime import datetime
archivo = 'Titanic01'+ str(datetime.now().strftime('%Y-%m-%d%H:%M:%S'))+'.csv'

toKaggle.to_csv(archivo,index=False)

print('Creado: ' + archivo)

Creado: Titanic012018-10-2612:22:46.csv